.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, grey, black 50% 100%);
  padding: 30px;
}
.header-image {
  width: 90vw;
  height: 50vh;
  border: 1px solid rgba(233, 232, 227, 0.582);
  border-radius: 5px;
}
.over-image-container {
  position: relative;
}
.over-image {
  margin: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title {
  width: max-content;
  font-size: 3em;
  font-weight: bold;
  font-family: "UnifrakturCook", cursive;
  padding: 6px;
  margin: auto;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, black 0% 50%, rgb(255, 155, 4) 50% 100%);
  border-radius: 6px;
  border: 2px rgb(92, 91, 91) solid;
}
.header-quote {
  margin: 10px auto 0px;
  font-weight: bold;
}
.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.xd {
  width: 30vw;
}
.bio-title {
  margin: 0;
  padding: 3px;
  font-size: 1.6em;
  color: rgb(255, 155, 4);
  font-weight: bold;
  width: fit-content;
  margin: 5px auto;
  border-radius: 6px;
}
.bio-section {
  color: white;
  background-color: rgb(31, 29, 32);
  border: 1px rgba(241, 239, 236, 0.274) solid;
  border-radius: 6px;
  padding: 8px;
  margin: 5px auto;
  width: 100%;
}
.bio-limiter {
  display: block;
  width: 4px;
  height: 100%;
  background-color: rgb(172, 169, 169);
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto;
}

.author-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.author-image {
  height: 250px;
  width: 250px;
  border-radius: 200px;
  border: 3px solid rgba(255, 136, 0, 0.986);
  margin: 20px;
}
.author-slogan {
  margin: auto 0px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgb(209, 207, 207);
  color: black;
  padding: 9px;
  border: 2px solid white;
  border-radius: 6px;
  width: 35%;
}

@media (min-width: 0px) {
  .header-image {
    height: 30vh;
  }
  .author-intro {
    flex-direction: column;
  }
  .author-slogan {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .header-title {
    width: 90%;
    font-size: 2.2em;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
}
@media (max-height: 400px) {
  .header-image {
    height: 80vh;
  }
}
@media (max-width: 450px) {
  .header-image {
    height: 35vh;
    width: 90vw;
  }
  .header-title {
    font-size: 2.5em;
    padding: 10px;
  }
  .bio {
    flex-direction: column;
  }
  .bio-limiter {
    display: none;
  }
  .author-slogan {
    font-size: 0.9em;
  }
  .xd {
    width: 100%;
    margin: 5px auto;
  }
  .author-image {
    width: 175px;
    height: 175px;
  }
}
@media (min-width: 451px) {
  .xd {
    width: 40vw;
  }
  .header-title {
    font-size: 3.5em;
  }
}

@media (min-width: 850px) {
  .xd {
    width: 30vw;
    margin: 40px;
  }
}

@media (min-width: 500px) {
  .header-image {
    height: 50vh;
  }
}
@media (min-width: 1000px) {
  .header-image {
    height: 50vh;
    width: 70vw;
  }
  .author-slogan {
    width: 60%;
  }
  .author-intro {
    flex-direction: row;
  }
  .bio {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1500px) {
  .header-image {
    height: 55vh;
    width: 70vw;
  }

  .author-slogan {
    width: 35%;
  }
}
