.meal-plan-project {
  padding: 40px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.meal-plan-container {
  background: linear-gradient(45deg, grey, black 50% 100%);
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid grey;
}

.meal-plan-form {
  width: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-bar {
  width: 60%;
  height: 4vh;
  font-size: 1.2em;
  margin: 5px auto;
}

.meal-item {
  margin: 10px auto;
  font-size: 1.2em;
  padding: 5px;
  background: linear-gradient(45deg, grey, black 50% 100%);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.meal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
