.meme-image {
  width: min-content;
  height: min-content;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.meme-container {
  padding: 35px 5px;
  width: fit-content;
  max-width: 95vw;
  height: 600px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(255, 153, 0, 0.479), black 50% 100%);
  border: 2px solid grey;
  border-radius: 15px;
}

.meme-generator {
  display: flex;
  flex-direction: column;
  margin: 10px auto 50px;
}

.memes-container {
  padding: 20px;
  width: min-content;
  max-width: 95%;
  max-height: 600px;
  background: linear-gradient(45deg, pink, black 50% 100%);
  border: 2px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  margin: 5px auto;
}
.memes-container::-webkit-scrollbar {
  display: none;
}

.liked-meme-container {
  width: min-content;
  height: min-content;
  max-width: 95vw;
  max-height: 90%;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.liked-meme-image {
  width: fit-content;
  max-width: 80vw;
  height: 50vh;
  margin: auto;
  border: 5px solid black;
}
