/* NAV BAR */
.nav {
  background-color: rgb(255, 155, 4);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.nav-logo {
  height: 30px;
  width: 40px;
}
.nav-title {
  height: 40%;
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "UnifrakturCook", cursive;
}

.toggle-bar {
  position: absolute;
  top: 1rem;
  right: 0.6rem;
  display: none;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.links {
  font-size: 1em;
  color: black;
  margin: auto;
  padding: 1em;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.links:hover {
  background-color: rgb(22, 21, 21);
  color: wheat;
  font-weight: bolder;
}

/* FOOTER */

.footer {
  width: 100%;
  text-align: center;
  background-color: rgb(22, 21, 21);
  color: wheat;
  border: 2px solid rgba(255, 255, 255, 0.178);
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.footer-main {
  font-weight: bold;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.footer-title {
  font-family: "UnifrakturCook", cursive;
  color: rgb(255, 155, 4);
  font-size: 1.6em;
  margin: auto;
}
.fa-brands {
  color: rgb(255, 155, 4);
}
.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  margin: auto;
}
.f-social {
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}
.f-social:hover {
  color: grey;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.f-links {
  margin: auto;
  padding: 5px;
  font-size: 1em;
  color: wheat;
  font-weight: bold;
}
.f-links:hover {
  color: white;
}

/* media queries */
@media (max-width: 450px) {
  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2.5px;
  }
  .toggle-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .toggle-bar:hover {
    cursor: pointer;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .nav-left {
    align-items: center;
  }
  .nav-right {
    display: none;
  }

  .nav-right-collapse {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(22, 21, 21);
    position: absolute;
    top: 100%;
    left: 2.5%;
    z-index: 1;
    border: 1px solid grey;
    padding: 0;
  }
  .links {
    color: wheat;
  }
  .links:hover {
    color: white;
    background-color: grey;
    padding: 1em;
  }
  .footer {
    padding: 5px;
  }
  .footer-content {
    font-size: 1em;
  }
}

@media (min-width: 700px) {
  .links {
    font-size: 1.2em;
  }
  .nav-title {
    font-size: 1.3em;
  }
}
@media (min-width: 0px) {
  .footer-content {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-main {
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }
  .footer-links {
    margin: 5px auto;
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    font-size: 1.2em;
  }
  .footer-socials {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .footer-content {
    flex-direction: row;
    font-size: 1.2em;
  }
  .footer-socials {
    width: 30%;
    margin: auto;
  }
  .f-links {
    padding: 0 26px;
  }
  .footer-main {
    width: 70%;
    flex-direction: row;
  }
}
